<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="MarsRoversSolution">
            <directory suffix="Test.php">./test/Model</directory>
            <directory suffix="Test.php">./test/Command</directory>
            <directory suffix="Test.php">./test/Invoker</directory>
            <directory suffix="Test.php">./test/Service</directory>
            <directory suffix="Test.php">./test/Feature</directory>
        </testsuite>
    </testsuites>
</phpunit>